.App {
  text-align: center;
  background-color: blueviolet;
}

.btn {
  border: 2px red solid;
  margin-right: 20px;
  margin: 20px;
}

.task {  
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.taskName {
  margin-right: 20px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-size: 25px;
}

.lnk {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 2px solid red;
  padding: 15px;
  background-color: teal;
  border-radius: 50%;
}

.lnk:hover {
  text-decoration: underline;
  color: yellow;
}



