* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: blueviolet;

}

.btn {
  border: 2px red solid;
  margin-right: 20px;
  margin: 20px;
  background-color: yellow;
  font-weight: 700;
}

.task {  
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.taskName {
  margin-right: 20px;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: fit-content; */
  padding: 20px;
  font-size: 25px;
}

.lnk {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 2px solid red;
  padding: 15px;
  margin: 3px;
  background-color: teal;
  border-radius: 25px;
}

.lnk:hover {
  text-decoration: underline;
  color: yellow;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formField {
  border: 2px solid red;
  padding: 5px;
  margin: 2px;
  border-radius: 20px;
}

.submit {
  font-weight: 800;
  text-transform: uppercase;
}

.error {
  color: red;
}


